p{
    max-width: 900px;
    color:red;
    font-weight:bold;
   font-size: x-large;
   font-family: "Phetsarath", serif;
}

body{
  
    max-width: 800px;
    margin: auto;
    background-color: rgb(83, 73, 73);
}
img{
    width: 300px;
    border:10px;
    border-style: dashed;
    
}

h2

{  
    font-size: xx-large;


}